<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert title</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/d67383daac.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Kavoon&display=swap" rel="stylesheet">

    

</head>
<body>
    <!-- Vue -->
    <div id="app" class="box">
        
        <!-- Titolo con immagine Boolean -->
        <div class="logo">
            <img src="img/logo.png" alt="">
        </div>

        <!-- Input tag & button-->
        <div class="researchBox">
            <input v-model="newDo" type="text" placeholder="Inserisci nuovo obbietivo" @keyup.enter="addElement()">
            <button @click="addElement()" class="add">
                  Aggiungi
            </button>
        </div>
        
        <!-- Contenitore obbiettivi -->
        <div class="task-box">
            <ul>                          <!-- all'interno delle graffe inseriamo l'attributo di css crossed se Element.done = true  -->
                                                      <!-- ↓↓↓↓↓↓↓↓ -->

                <li  @click="cross(index)" :class="{crossed:element.done}" v-for="(element, index) in toDo" class="obiettivo" >

                    {{ element.text }}
                    <i class="fas fa-times" @click="removeElement(index)"></i>

                </li>
                
            </ul>
        </div>
    </div>

    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>